* {
    margin: 0px;
    padding: 0px;

    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100vw;
}

::selection {
    background-color: #162254;
    /* Set the background color */
    color: white;
    /* Set the text color */
}

body {
    margin: 0;
}

.container {
    /* padding-top: 50px; Adjust this value based on the height of your navbar */
    position: relative;
}

.wrapper {
    overflow-x: hidden;
    background-color: rgba(107, 17, 17, 0.1);
}

nav {
    z-index: 11;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0.8% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(101, 17, 17);
    box-shadow: 0px -0.6px 10px black;
}

/* Other styles remain the same */


nav img {
    width: 84px;
    height: 66px;
    padding: 0;
    margin: -22px 1px -25px -60px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    /padding: 8px 23px;/
    padding: 8px 10px;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    position: relative;
}

.nav-links ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.25rem;
    /padding: 0px 0px 16px 16px;/
}

.nav-links ul li:not(.committees, .no)::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
    /* padding-left: 10px;*/
}

.active {
    border-bottom: 2px solid white;
}

nav .sub-menu {
    display: none;
}

nav ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: rgb(101, 17, 17);
    color: white;
    margin-top: 1.5rem;
    margin-left: 0rem;
    padding: 0rem 0rem 1rem 0rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.534);
}

nav ul li:hover .sub-menu ul {
    display: block;
    /* text-align:left; */
    margin: -1.5rem 1rem -0.7rem 0rem;
    /* margin-top:-1.50rem;
    margin-left:0rem; */
    padding-left: 1rem;
    padding-top: 2rem;
}

nav ul li:hover .sub-menu ul li {
    width: 255px;
    padding: 0.3rem 0rem 1rem 0rem;
    background: transparent;
    text-align: left;
    height: 4vh;
}
.committees ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.committees ul li:hover::after {
    width: 100%;
    padding-left: 10px;
}

.committees .sub-menu ul li:hover {
    border: none;
}

nav .fa {
    display: none;
}

h1 {
    font-size: 36px;
}
/* .container{
    height:100%;
} */
.advert
{
    margin-top: -5rem ;
    margin-bottom: 10rem;
   height: 50%;
  
}
.atitle{
    font-size:45px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
}
.hotel{
    margin-top: 2rem;
    
}
.hotel{
    b {
        
        font-weight: bold;
      
    }
}
.ahotel{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    list-style: decimal;
    margin-top: 2rem;
}

.one a{
text-decoration: underline;
color:#777;
}

.ph{
    text-decoration: underline;
    color:#777;
}
.mail{
    text-decoration: underline;
    color: #777;
}
.acontent{
    
        color: #777;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    

 text-align: left;
 text-align: justify;
 margin: auto;
 padding: 1rem 8rem 2rem 8rem;
}








.bottom {
    width: 100%;
    text-align: center;
    /* padding:0;   */
    margin-bottom: 0rem;
    position: relative;
    top: 3rem;
    margin-bottom: -3rem ;
}

.copyright {
    padding: 0.5rem 0rem 2rem 0rem;
    background: white;
    width: 100%;
    color: black;
}

.fa-regular {
    color: black;
}

.bottom {
    width: 100%;
    text-align: center;
    /* padding:0;   */
    margin-bottom: 0rem;
    position: relative;
    top: 3rem;
    margin-bottom: 3rem;
}

.copyright {
    padding: 0.5rem 0rem 2rem 0rem;
    background: white;
    width: 100%;
    height: 3vh;
    color: black;
}

.fa-regular {
    color: black;
}

.footer {
    display: flex;
    margin-bottom: -5rem;
    padding: 0.8rem 0rem 2rem 0rem;
    box-shadow: 0px 0px 10px black;
    background: rgb(101, 17, 17);
    /* width: 100%; */
    /* height: 40vh; */
    justify-content: space-evenly;
    color: white;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5rem;
}

.footer .team {
    text-align: center;
    padding: 10px;
}

.footer .nitt {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 3rem;
    text-align: justify;
    margin: auto;
}

/* .footer ul{
    display:flex;
    flex-direction: column;
    align-items: center;
} */

.footer p {
    /* text-align: justify; */
    color: white;
}

.footer ul {
    list-style-type: none;
    margin-top: 2rem;
}

.footer-sections {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a,
.nitt {
    color: #fff;
    font-size: 15px;
}

.footer a:hover::after {
    width: 100%;
}

.footer a::after {
    text-decoration: underline;
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.footer img {
    width: 150px;
    margin: 30px;
    height: 150px;
    /* padding:auto; */
}

.footer .mail {
    text-align: center;
}

.nit {
    font-size: 25px;
}

.footer .links {
    text-align: center;
}


@media(min-width:1500px) {
    nav img {
        width: 93px;
        height: 67px;
        margin: -12px 1px -15px -60px;
    }
    .row {
        /* column-gap:1rem; */
        width: 80%;
        margin: auto;
    }
}

@media(max-width:1350px) {
    .text-box {
        margin-top: -0.2rem;
    }
    .imageSlides {
        margin-top: -0.2rem;
    }
}

@media (max-width:1317px) {
    .about .intro h1 {
        margin-top: 8rem;
    }
}

@media (max-width:1300px) {
    nav img {
        width: 93px;
        height: 55px;
        margin: -7px 0px -5px -22px;
    }
    /* .imageSlides {
        margin-top: -0.3rem;
    } */
}

@media(max-width:1150px) {
    .text-box {
        margin-top: -0.3rem;
    }
    .imageSlides {
        margin-top: -0.3rem;
    }
}

@media(max-width:1050px) {
    .text-box {
        margin-top: -0.4rem;
    }
    .imageSlides {
        margin-top: -0.4rem;
    }
}

@media(max-width:951px) {
    .text-box {
        margin-top: -0.5rem;
    }
    .imageSlides {
        margin-top: -0.5rem;
    }
    .text-box h1 {
        font-size: 5.2rem;
        /* padding-top:2.5rem; */
    }
    /* 
    .text-box .conf {
        font-size: 22px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0rem;
    } */
    .text-box .venue {
        font-size: 15px;
        font-weight: 100;
    }
}

@media(max-width:883px) {
    .nav-links ul li {
        display: block;
        text-align: center;
    }
    .nav-links ul li a {
        font-size: 1.7rem;
    }
    .nav-links {
        position: fixed;
        background: #0a0428;
        height: 100vh;
        width: 300px;
        top: 0;
        right: -500px;
        text-align: left;
        z-index: 20 !important;
        transition: 0.7s;
    }
    .no {
        width: 100%;
    }
    nav .fa {
        display: block;
        color: #ffff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    nav .sub-menu {
        display: none;
    }
    nav ul li:hover .sub-menu {
        display: block;
        position: relative;
        background-color: #0a0428;
        color: white;
        /* width: 100%; */
        /* margin-top:0rem; */
        /* margin-left:-1rem; */
        /* padding:1rem 1rem 1rem 1rem; */
        /* border-radius: 3px; */
        box-shadow: none;
        margin: 0;
        padding: 0;
        left: -31.5px;
        width: 280px;
    }
    nav ul li:hover .sub-menu ul {
        padding: 0 !important;
        margin: 0;
        margin-top: 1rem;
        background-color: white;
        margin-left: -1.05rem;
    }
    .committees ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: #ffffff;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    nav ul li:hover .sub-menu ul li {
        margin: 0;
        padding: 0;
        /* padding-top:0.5rem; */
        /* padding-left:0.5rem; */
        padding: 0.5rem;
        padding-bottom: 2rem;
        border: 1px solid #162254;
        width: 300px;
        text-align: center;
    }
    .committees .sub-menu ul li:hover {
        border: none;
    }
    .clocks>div {
        margin-bottom: .5rem;
    }
    .endorse-row {
        display: flex;
        flex-direction: column;
        padding: 45px 0px 0px 0px;
        flex-wrap: wrap;
    }
    .header .text-box {
        height: 40vh;
    }
    .header .text-box .conf {
        padding-top: 3rem;
    }
    nav .sub-menu {
        z-index: 2;
    }
    .committees {
        display: flex !important;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    nav ul li:hover .sub-menu ul li a {
        color: #162254;
        font-weight: bold;
        font-size: 1.3rem;
    }
    .text-box {
        margin-top: -0.8rem;
    }
    .imageSlides {
        margin-top: -0.8rem;
    }
}

@media(max-width:735px) {
    .text-box {
        margin-top: -1.3rem;
    }
    .imageSlides {
        margin-top: -1.3rem;
    }
    .text-box h1 {
        font-size: 4.2rem;
    }
    .text-box .conf {
        font-size: 19px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0rem;
    }
    .text-box .venue {
        font-size: 18px;
    }
    .slideshowCircles {
        margin-top: -7rem;
    }
}

@media(max-width:476px) {
    .text-box {
        height: 27rem;
    }
    .text h1 {
        font-size: 3.5rem;
    }
    .imageSlides {
        height: 27rem;
        margin-top: -0.8rem;
    }
    .container {
        /* padding-top: 10rem; */
    }
}

@media(max-width:370px) {
    .text h1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text-box,
    .imageSlides {
        height: 31rem;
    }
    .imageSlides {
        margin-top: 1.2rem;
    }
    .slideshowCircles {
        margin-top: -2rem;
    }
    .container {
        top: 1rem;
    }
}

@media(max-width:355px) {
    .container {
        margin-top: 3rem;
    }
    .text h1 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .text-box,
    .imageSlides {
        height: 31rem;
    }
    .imageSlides {
        margin-top: 1.2rem;
    }
    .slideshowCircles {
        margin-top: -1.5rem;
    }
    .text-box .venue {
        font-size: 15px;
    }
    .fifth-int-conf {
        font-size: 16px;
    }
}

@media(max-width:314px) {
    .hero-btn {
        font-size: 15px !important;
    }
    .text h1 {
        font-size: 3rem;
    }
    .text-box .conf {
        font-size: 16px;
    }
    .text-box .venue {
        font-size: 14px;
    }
}

@media(max-width:258px) {
    .text h1 {
        font-size: 2.5rem;
    }
}

@media(max-width:236px) {
    .text h1 {
        font-size: 2rem;
    }
}