* {
    margin: 0px;
    padding: 0px;

    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100vw;
}

::selection {
    background-color: #162254;
    /* Set the background color */
    color: white;
    /* Set the text color */
}

.wrapper {
    overflow-x: hidden;
    align-items: center;
    background-color: rgba(107, 17, 17, 0.1);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

nav {
    z-index: 11;
    display: flex;
    padding: 0.8% 4%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(101, 17, 17);
    box-shadow: 0px -0.6px 10px black;
    position: fixed;
    width: 100vw;
    /* overflow-x: hidden; */
    margin-right: 10px;
}

nav img {
    width: 84px;
    height: 66px;
    padding: 0;
    margin: -22px 1px -25px -60px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    /*padding: 8px 23px;*/
    padding: 8px 10px;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    position: relative;
}

.nav-links ul li a {
    color: #ffff;
    text-decoration: none;
    font-size: 1.25rem;
    /*padding: 0px 0px 16px 16px;*/
}

.nav-links ul li:not(.committees, .no)::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
    /* padding-left: 10px;*/
}

.active {
    border-bottom: 2px solid white;
}

nav .sub-menu {
    display: none;
}

nav ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: rgb(101, 17, 17);
    color: white;
    margin-top: 1.5rem;
    margin-left: 0rem;
    padding: 0rem 0rem 1rem 0rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.534);
}

nav ul li:hover .sub-menu ul {
    display: block;
    /* text-align:left; */
    margin: -1.5rem 1rem -0.7rem 0rem;
    /* margin-top:-1.50rem;
    margin-left:0rem; */
    padding-left: 1rem;
    padding-top: 2rem;
}

nav ul li:hover .sub-menu ul li {
    width: 255px;
    padding: 0.3rem 0rem 1rem 0rem;
    background: transparent;
    text-align: left;
    height: 4vh;
}

.advert
{
    margin-top: 10rem !important ;
}
.bottom {
    width: 100%;
    text-align: center;
    /* padding:0;   */
    margin-bottom: 0rem;
    position: relative;
    top: 3rem;
    margin-bottom: -3rem ;
}

.copyright {
    padding: 0.5rem 0rem 2rem 0rem;
    background: white;
    width: 100%;
    color: black;
}

.fa-regular {
    color: black;
}

.bottom {
    width: 100%;
    text-align: center;
    /* padding:0;   */
    margin-bottom: 0rem;
    position: relative;
    top: 3rem;
    margin-bottom: 3rem;
}

.copyright {
    padding: 0.5rem 0rem 2rem 0rem;
    background: white;
    width: 100%;
    height: 3vh;
    color: black;
}

.fa-regular {
    color: black;
}

.footer {
    display: flex;
    margin-bottom: -5rem;
    padding: 0.8rem 0rem 2rem 0rem;
    box-shadow: 0px 0px 10px black;
    background: rgb(101, 17, 17);
    /* width: 100%; */
    /* height: 40vh; */
    justify-content: space-evenly;
    color: white;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5rem;
}

.footer .team {
    text-align: center;
    padding: 10px;
}

.footer .nitt {
    width: 80%;
    padding-top: 15px;
    padding-bottom: 3rem;
    text-align: justify;
    margin: auto;
}

/* .footer ul{
    display:flex;
    flex-direction: column;
    align-items: center;
} */

.footer p {
    /* text-align: justify; */
    color: white;
}

.footer ul {
    list-style-type: none;
    margin-top: 2rem;
}

.footer-sections {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a,
.nitt {
    color: #fff;
    font-size: 15px;
}

.footer a:hover::after {
    width: 100%;
}

.footer a::after {
    text-decoration: underline;
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.footer img {
    width: 150px;
    margin: 30px;
    height: 150px;
    /* padding:auto; */
}

.footer .mail {
    text-align: center;
}

.nit {
    font-size: 25px;
}

.footer .links {
    text-align: center;
}

body {
    width: 100vw;
}
.wrapper
{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
}